<!-- login form -->
<form class="my-10 space-y-6" [formGroup]="form!" (ngSubmit)="onSubmit()">
  <div class="text-center">
    <h2 class="text-foreground mb-1 text-3xl font-semibold" i18n="@@reset_password">Reset password</h2>
  </div>

  <div class="space-y-3 text-left">
    <mat-form-field class="w-full">
      <mat-label i18n="@@email">Email</mat-label>
      <input matInput formControlName="email" type="email" placeholder="exmaple@email.com">
    </mat-form-field>
  </div>

  <button mat-flat-button type="submit" class="w-full" [disabled]="loading()" i18n="@@submit">Submit</button>

  <p i18n="@@already_have_an_account">
    <span>Already have an account.</span><a routerLink="/auth/login" class="font-semibold text-primary"> Sign In</a>
  </p>
</form>
